.WeatherForecastPreview canvas {
  max-width: 65px;
  color: #fe6651;
}

.card {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 20px;
  font-size: 14px;
  margin: 5% 0;
  text-align: center;
  transition: all 100ms ease-in-out;
}
.card-title {
  text-shadow: #333331 1px 0 2px;
}
